.barra-menu{
  display: flex; 
  width: 100%; 
}

.logo-style{
    height: 48px;
    padding: 20%;
}

.search{
    margin-top: 1%;
    background-color: lightgrey;
    font-size: 18px;
    width: 50%;
    border: 0;
    border-radius: 35px;
    padding: 15px;
    padding-left:3%;
}

.barra-search{
    text-align: center;
    width: 100%;
}

.contenedor1{
    display: flex;
    gap: 15px;
    margin: 5% 10% 0 10%;
    justify-content: center;
}

.contenedor{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 5% 10% 0 10%;
    justify-content: center;
}

.foto-size{
    height: auto;
    width: 200px;
}

.responsive{
    height: auto;
    flex: 0 0 25%;
    color: white;
    min-width: 200px;
}