.barra-menu{
  display: flex; 
  width: 100%; 
}

.logo-style{
    height: 48px;
    padding: 20%;
}

.search{
    margin-top: 1%;
    background-color: lightgrey;
    font-size: 18px;
    width: 50%;
    border: 0;
    border-radius: 35px;
    padding: 15px;
    padding-left:3%;
}

.barra-search{
    text-align: center;
    width: 100%;
}

.fondo-contenedor{
    background-image: url(./img/banner-fondo.png);
    height: 670px;
    width: 100%;
}