body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.code-box{
    background-color: #CCDDE2;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    padding: 1px;
}

.code-text{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.axis-text{
    font-family: "Courier Prime", monospace;
    font-style: normal;
    font-weight: 900;
}

/* Sin flex */
.caja-sin-bg{
    background-color: #000000;;
    padding: 1%;
}
.caja-sin{
    height: 50px;
    background-color: #F5CB5C;
    border: 2px solid #000000;
}

/* Con flex */
.caja-con{
    height: 50px;
    background-color: #EC0B43;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

/* Justify-content */
.eje-central-bloques{
    height: 50px;
    background-color: #246EB9;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}
.caja-flex{
    background-color: #000000;
    display: flex;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-even{
    justify-content: space-evenly;
}


/* Align-items */

.b-1{
    height: 60px;
    background-color: #246EB9;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.b-2{
    height: 80px;
    background-color: #F5CB5C;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.b-3{
    height: 20px;
    background-color: #EC0B43;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.align-base{
    align-items: baseline;
}

/* propiedad stretch */
.align-stetch{
    align-items: stretch;
}

.b1{
    background-color: #246EB9;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.b2{
    background-color: #F5CB5C;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.b3{
    background-color: #EC0B43;
    border: 2px solid #000000;
    color: white;
    width: 5%;
}

.caja-flex-stretch{
    display: flex;
    background-color: #000000;
    height: 150px;
}
