.card-tamano{
    width: 280px;
    height: 400px; 
    background-color: #F6F6F6;
}

.japon{
    background-image: url(./img/japon.png);
    background-repeat: no-repeat;
    height: 165px;
    position: relative;
}

.col{
    display: flex;
    justify-content: center;
}

.chip-nuevo{
    background-color: yellow;
    text-align: center;
    background-color: yellow;
    width: 65px;
    border-radius: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    left: 73%;
    top: 5%;
}

.texto-visita{
    background-color: red;
    color: white;
    height: 28px;
    padding-top: 7px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
