.caja-padre{
    border: 2px solid;
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 40%;
    height: 600px;
    width: 300px;
}

.caja-1, .caja-2, .caja-3{
    width: 300px;
    height: 200px;
}

.caja-1{
    background-color: red;
    
    
}

.caja-2{
    background-color: yellow;
    position: relative;
    /*top:;
    left:;
    right: ;
    bottom: ;
    z-index: ;*/
    margin-left: 5%;
    margin-top: 5%;
}

.caja-3{
    background-color: blue;
    position:relative;
    z-index: 50;

}

.caja-inter{
    background-color: aqua;
    width: 30px;
    width: 50px;
    position:absolute;
    top: 5%
}
