body, html{
    margin: 0;
    padding: 0;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
img {
    width: 100%;
}

.contenedor1{
        margin: 7% 5% 0% 31%;
}

.sub-contenedor2{
    margin-left: 17%;
}

.cursiva{
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 17px;
    margin-right: 13%;
}

h2{
    margin-top: 5%;
}

.info-basic{
    font-weight: 900;
}

.input-info-basic{
    width: 53%;
    height: 36px;
    margin-top: 1%;
    margin-bottom: 2%;
}