body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.margin-contenedor{
    margin: 0 5% 5% 5%;
}

h1{
    font-size: 80px;
}

.moving-container{
    display: flex;
    flex-direction: column;
}

.mov-cont-s1{
    order: 1;
}

.mov-cont-s2{
    order: 2;
}

.mov-cont-s3{
    order: 3;
}

.align-rigth{
    display: flex;
    justify-content: flex-end;
}

.intro-text{
    width: 75%;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.description-text{
    width: 55%;
    font-size: 16px;
}

.col-numbers{
    display: flex;
    justify-content: space-between;
    margin-top: -7%;
}

.number-text{
    font-weight: 800;
    font-size: 80px;
    margin-bottom: -28px;
}

.contenedor-img{
    background-image: url(./img/img-alta.png);
    width: 100%;
    height: 840px;
    background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px){
    .intro-text{
        width: 100%;
    }
    .description-text{
        width: 80%;
    }
    .contenedor-img{
        background-image: url(./img/img-media.png);
    }
}

@media (max-width: 576px){
    h1{
        font-size: 65px;
    }
    .intro-text{
        width: 100%;
        font-size: 20px;
    }
    .contenedor-img{
        background-image: url(./img/img-baja.png);
        background-repeat: no-repeat;
        width: 100%;
        margin-top: -20%;
        background-position: center;
        aspect-ratio: 16/9;
        order: 1;
    }
    .col-numbers{
        flex-direction: column;
    }

    .number-text{
        font-size: 100px;
        margin-top: 3%;
    }

    .description-text{
        width: 100%;
    }

    .mov-cont-s1{
    order: 3;
    }

    .mov-cont-s2{
        order: 2;
    }

    .mov-cont-s3{
        order: 1;
    }
}